<?xml version="1.0" encoding="EUC-JP"?>
<?xml-stylesheet href="table.css" type="text/css"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-type" content='text/html; charset=EUC-JP' />
<meta http-equiv="content-style-type" content="text/css" />
<link rev="made" href="mailto:taki@cyber.email.ne.jp" />
<link rel="stylesheet" href="table.css" type="text/css" />
<title>MUAs for Windows - table 1: basic information</title>
</head>
<body>
<div class="header">
<a href="index.html">目次</a> | 
<a href="table-basic.html">表1. 基礎情報</a> | 
<a href="table-header.html">表2. へッダ</a> | 
<a href="table-japanese.html">表3. 日本語処理</a> | 
<a href="table-lang.html">表4. 言語</a> | 
<a href="table-cipher.html">表5. 暗号</a> | 
<a href="table-otherspec.html">表6. SMTP, POP, IMAP, LDAP</a>
</div>

<h1>表1. 基礎情報</h1>
<p>各項目に関する説明は<a href="exp-basic.html">解説</a>をご覧下さい。</a></p>

<table border="1">
<tr class="tableheader">
<th>メイラ─</th><th>正式名称</th><th>バージョン</th><th>更新年月</th><th>作者/会社</th><th>配布形態</th><th>価格</th>
</tr>
